{% extends 'base.html.twig' %}

{% block body %}
	<div id="team-container" class="my-auto mx-auto d-flex flex-column">
		<div class="mx-auto mb-3" id="team-container-title">
			<h2 class="mario-text text-center mt-4">Les équipes</h2>
		</div>
		
		<div class="mt-3 w-100" id="teams-content">

			{% for nom,equipe in equipes %}
				
				<div class="row mb-3">
				<div class="col-2 d-flex ">
					<p class="mx-auto my-auto fw-bold">
						{{nom}}
					</p>
				</div>
				<div class="col">
					<img src="{{asset('images/characters/'~ equipe.j1)}}" class=" head-picture img-thumbnail img-fluid">
				</div>
				<div class="col">
					<img src="{{asset('images/characters/'~ equipe.j2)}}" class=" head-picture img-thumbnail img-fluid">
				</div>
				<div class="col">
					<img src="{{asset('images/characters/'~ equipe.j3)}}" class=" head-picture img-thumbnail img-fluid">
				</div>
				<div class="col">
					<img src="{{asset('images/characters/'~ equipe.j4)}}" class=" head-picture img-thumbnail img-fluid">
				</div>
				<div class="col  d-flex flex-column">
					<p class="my-auto mx-auto text-center fw-bold">
						<i class="fa fa-arrow-circle-up upvote" aria-hidden="true"></i> {{equipe.upvote}}
						<br>
						<i class="fa fa-arrow-circle-down downvote" aria-hidden="true"></i> {{equipe.downvote}}
					</p>
				</div>
				<div class="col d-flex flex-column">
					<p class="my-auto mx-auto text-center fw-bold">
						{{equipe.date}}
						<br>
						{{equipe.createur}}
					</p>
				</div>
				<hr class="mt-3 w-75 mx-auto">
			</div>
			{% endfor %}
			
		</div>

	</div>
{% endblock %}
